<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<a href="/"> &lt; Return</a>
		<form method="POST" action="/new">
			<h1>Enter Message:</h1>
			<div>
				<label name="messageUser">Sender:</label>
				<input name="messageUser" type="text" />
			</div>
			<div>
				<label name="messageText">Enter text:</label>
				<input name="messageText" type="text" />
			</div>
			<button type="submit">Send</button>
		</form>
	</body>
</html>
