<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<h1><%= title %></h1>
		<div>
			<% if(messages.length !== 0){%> <% messages.forEach(message => { %>
			<h6>From: <% message.user %></h6>
			<p><% message.text %></p>
			<div><% message.added %></div>
			<% }) %>
		</div>
	</body>
</html>
